

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-bottom: 2%;
    margin: auto;
    
}
.contact_option{
    background:#5800FF;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-left: 55px;
}
.contact_option:hover{
    background: transparent;
    border-color:yellow;
}
.contact_option h5 {
color: aqua;
}
.contact_option a{
    margin-top: 0.2rem;
    display: inline-block;
    font-size: 0.8rem;
    color: whitesmoke;
}
.form{
    width: 58%;
    display: grid;
    grid-template-columns: 70% 58%;
    gap: 2%;
}
label{
    color: #fff;
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
   margin: auto;
    width: 120%;
    max-width: 600px;
   
}
form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgb(255,255,255,0.1);
    border-color: rgb(255,255,255,0.1);
    color: #fff;
}
@media screen and (max-width: 740px) {
    .form{
        
        grid-template-columns: 1fr;
      
    }
    .contact_options{
       width: fit-content;
        
    }
    /* form{

        width:fit-content;
        margin-left: 10px;
    }
     */
}